@model CommandViewModel
@{
    ViewData["Title"] = "Error";
}

@section Scripts
{
    <link rel="stylesheet" href="~/css/error.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/error.js"></script>
}

<main>

    <section id="error">
        <p>CommandR not found!<p>
        <p><span>Type 'help' + <kbd>Enter</kbd> -- for available commands.</span></p>
    </section>

    <form method="post">
        <span class="command">Vasilisa:/$
            <input name="CommandR" type="text">
            <input type="submit" hidden>
        </span>
    </form>

</main>