<!DOCTYPE html>
<html>
    <head>
        @RenderSection("Scripts", false)
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <main>
            @RenderBody()
        </main>
    </body>
</html>