@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
  background: #000;/*colour of the background*/
  overflow-y: scroll;
  min-height: 100%;
}

body {
  min-height: 100%;
  font: .875em/1.6 'Inconsolata', monospace;
  color: #fff; /*Colour of introduction text*/
  font-weight: 400;/*шрифт/font style*/
  padding: 1em;/*distance between objects*/
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.form-input, .console-input, .books_list {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.console-label, .output-cmd-pre, .output-text-pre {
  width: 4em;
  margin-right: 0.5em;
  display: block;
  vertical-align: bottom;
  font-weight: 600 !important; /*for USER:/$*/
  text-align: right;
  float: left;
  clear: left;
}

.console-label, .output-cmd-pre {
  color: #FF9F40; /*colour for USER:/$*/
}

.output-text-pre {
  color: #35C0CD; /*colour for VASILISA:/$*/
  font-weight: 600 !important;
}

span, input {
  font: .875em/1.6 'Inconsolata', monospace;
  color: #fff; /*Colour of introduction text*/
  font-weight: 400 !important;/*шрифт/font style*/
  font-size: 14px;
}

.output-text, .output-cmd {
  display: block;
}

#fileSubmit{
  background: black;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #AAAAAA;
  transition: color 0.2s ease;
  margin-left: 20px;
}

#fileSubmit:hover{
  color: #FFFFFF;
    text-decoration: underline;
}

.book_list{
  display: flex;
  max-width: 45%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.book_list>a{
  transition: 0.3s all ease;
  cursor: pointer;
  color: #FFE4C4;
}

.book_list>a:hover{
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 700;
}

#file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1
}

#fileLabel{
  margin: 0 0 0 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #AAAAAA;
  transition: color 0.2s ease;
}

#fileLabel:hover{
  text-decoration: underline;
  color: #FFFFFF;
}
