@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html {
  background: #000;/*colour of the background*/
  overflow-y: scroll;
}
/*general settings*/
body {
  font: .875em/1.6 'Inconsolata', monospace;
  color: #fff; /*Colour of introduction text*/
  font-weight: 400;/*шрифт/font style*/
  padding: 0em;/*distance between objects*/
}
::selection{
  background: #A9A9A9/*colour for the part of the document that has been selected by the user*/
}
p{
  margin-bottom:0em;/*Distance from the bottom edge of an element.*/
}
/*design of login block*/
input[type="text"]{
  border: none;
  color: #fff;
  font-family: inherit;
  background: #000;
  padding:0 .5em;/*tab before block*/
}
/*for text in login block*/
input[type="text"]:focus{
  background: #000; /*this is for colour of input block*/
  color: #fff;
  outline:none;
}
/*design of password border*/
input[type="password"]{
  border: none;
  font-family: inherit;
  background: #000;
  padding:0 .5em;/*tab before block*/
}
/*for text in input block*/
input[type="password"]:focus{
  background: #000; /*this is for colour of input block*/
  color: #fff;
  outline:none;
}
/*for text before input block*/
.registration {
  display: block;/*Makes span behave like blocks - has line break at the beginning and at the end of the content.*/
  max-width: 20em;/*max width of block*/
  color: #fff;
  font-weight: 700;/*шрифт/font style*/
}
