@using DigitalLibrary.Client.ViewModels
@namespace DigitalLibrary.Client.Components
<div>
    <span class="command">@DataContext.UserName:/$&nbsp;@DataContext.CommandText</span>
</div>

@code {

    [Parameter]
    public CommandStompViewModel DataContext { get; set; }

}
