@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@section Scripts
{
    <link rel="stylesheet" href="~/css/login.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/login.js"></script>
}

<section id="login_page">
    <p>There is no captcha here, so even your code in prolog can enter.</p>
</section>

<form name="login" id="login" method="POST">
    <div class="login">
        <span class="login_text">Login:/$</span>
        <input name="UserName" id="login_text" class="login_text" type="text" placeholder="username">
        <span class="password_text">Password:/$</span>
        <input name="Password" id="password_text" class="password_text" type="password" placeholder="password">
        <input id="submit_bt" type="submit" hidden/>
    </div>
</form>