@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

@section Scripts
{
    <link rel="stylesheet" href="~/css/registration.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/registration.js"></script>
}

<section id="registration_page">
    <p>You should register to get access to the digital library "Vasilisa Premudraya".</p>
</section>

<form method="post" name="registration" id="registration">
    <div class="registration">

        <span class="email">Email:/$</span>
        <input name="Email" type="text" id="email" class="email" placeholder="email"><br>

        <span class="name">Name:/$</span>
        <input type="text" id="name" class="name" placeholder="name"><br>

        <span class="login">Login:/$</span>
        <input name="UserName" type="text" id="login" class="login" placeholder="username"><br>

        <span class="password">Password:/$</span>
        <input name="Password" class="password" id="password" type="password" placeholder="password">
        <input id="submit_bt" type="submit" hidden/>
    </div>
</form>